html{
    background-color: rgb(40, 40, 40);
    color:rgb(51, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
    border: solid 3px rgb(51, 255, 0);
}

h1,
h3 {
    text-decoration: underline;
}